@{
    ViewData["Title"] = "What is Bhoba?";
}
<h2>@ViewData["Title"]</h2>
<h3>Bounty Hunter Operation Basic Assistant</h3>

<p>BHOBA is a C# application using ASP.NET and Entity framework. It is a digital assistant for Recovery Agents to have quick accessible information while in the field to relevant information regarding any Fugitive in violation of the terms of their bail bond</p>
<a href="https://github.com/Figamus/Bhoba">Source Code on Github</a>