@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <a href="https://www.linkedin.com/in/daniel-figueroa/">LinkedIn</a><br />
    <a href="https://figamus.github.io/">Website</a><br />
</address>