@{
    ViewData["Title"] = "BHOBA";
}

<div class="row">
    <div class="col-md-12 col-centered">
        <img src="~/images/Bhoba.png" alt="Bhoba Logo" class="img-responsive main-image col-centered" />
        <h1>Bounty Hunter Operations Basic Assistant</h1>
        <h5 id="EasterEgg">He's All Yours</h5>
        <img src="~/images/BountyHunter.gif" alt="Bounty Hunter" class="col-centered" id="BountyHunter" style="display:none" />
    </div>
</div>