@model Bhoba.Models.FelonBountyViewModel.FelonBountyCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>FelonBounty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">@Model.ErrorMsg</span>
            </div>
            <div class="form-group">
                <label asp-for="BailBondsmansId" class="control-label"></label>
                <select asp-for="BailBondsmansId" class="form-control" asp-items="@Model.BailBondsmans"></select>
                <span asp-validation-for="BailBondsmansId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FelonBounty.BountyAmount" class="control-label"></label>
                <input asp-for="FelonBounty.BountyAmount" class="form-control" />
                <span asp-validation-for="FelonBounty.BountyAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FelonBounty.PoliceReportNumber" class="control-label"></label>
                <input asp-for="FelonBounty.PoliceReportNumber" class="form-control" />
                <span asp-validation-for="FelonBounty.PoliceReportNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FelonBounty.CrimeType" class="control-label"></label>
                <input asp-for="FelonBounty.CrimeType" class="form-control" />
                <span asp-validation-for="FelonBounty.CrimeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FelonBounty.Description" class="control-label"></label>
                <input asp-for="FelonBounty.Description" class="form-control" />
                <span asp-validation-for="FelonBounty.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default btn-sm"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default btn-sm">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
