@model Bhoba.Models.FelonBountyViewModel.FelonBountyEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>FelonBounty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FelonBounty.FelonBountyId" />
            <input type="hidden" asp-for="FelonBounty.BailBondsmanId" />
            <input type="hidden" asp-for="FelonBounty.FelonId" />
            <div class="form-group">
                <label asp-for="FelonBounty.BountyAmount" class="control-label"></label>
                <input asp-for="FelonBounty.BountyAmount" class="form-control" />
                <span asp-validation-for="FelonBounty.BountyAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FelonBounty.PoliceReportNumber" class="control-label"></label>
                <input asp-for="FelonBounty.PoliceReportNumber" class="form-control" />
                <span asp-validation-for="FelonBounty.PoliceReportNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FelonBounty.CrimeType" class="control-label"></label>
                <input asp-for="FelonBounty.CrimeType" class="form-control" />
                <span asp-validation-for="FelonBounty.CrimeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FelonBounty.Description" class="control-label"></label>
                <input asp-for="FelonBounty.Description" class="form-control" />
                <span asp-validation-for="FelonBounty.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="FelonBounty.BondClosed" /> @Html.DisplayNameFor(model => model.FelonBounty.BondClosed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
